{% extends "base.html" %}
{% block body %}
<div id="container">
<header>
  <div class="container">
    <h1>Hash Stream</h1>
    <h2>real-time photo streams of world-wide events</h2>
    <div class="featured">
      <div class="photo">
        <a href="/s/protothon">#protothon</a>
        <div class="imgs">
        {% for photo in featured.protothon %}
          <img src={{ photo.digest | thumbnail_url }} style="display:none;"/>
        {% endfor %}
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=Stockholm,Sweden&zoom=13&size=160x160&sensor=false{{ config.MAPS_KEY_ARG }}" />
        </div>
      </div>
      <div class="photo">
        <a href="/s/pariz">#pariz</a>
        <div class="imgs">
        {% for photo in featured.pariz %}
          <img src={{ photo.digest | thumbnail_url }} style="display:none;"/>
        {% endfor %}
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=Paris,France&zoom=13&size=160x160&sensor=false{{ config.MAPS_KEY_ARG }}" />
        </div>
      </div>
      <div class="photo">
        <a href="/s/ish">#ish</a>
        <div class="imgs">
        {% for photo in featured.ish %}
          <img src={{ photo.digest | thumbnail_url }} style="display:none;"/>
        {% endfor %}
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=Amsterdam,Netherlands&zoom=13&size=160x160&sensor=false{{ config.MAPS_KEY_ARG }}" />
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</header>

<div class="content">
  {% if android %}
  <div id="android-info">
    <div class="container">
      <a href="{{ url_for('static', filename='hashstream.apk') }}"
         id="download-android">Download Android app</a>
      <span>or</span>
      <a href="/upload" id="upload-photo">Upload from<br/>the web</a>
    </div>
    <div class="clearfix"></div>
  </div>
  {% endif %}

  <div id="featured" class="tags">
    {% for tag in tags %}
      {% set size = tag.1 / max_count %}
    <a href="/s/{{ tag.0 }}"
       {% if size > 0.8 %}
       class="size-xxl"
       {% endif %}
       {% if size > 0.55 and size <= 0.8 %}
       class="size-xl"
       {% endif %}
       {% if size > 0.35 and size <= 0.55 %}
       class="size-l"
       {% endif %}
       {% if size <= 0.35 %}
       class="size-m"
       {% endif %}
       data-count="{{ tag.1 }}">#{{ tag.0 }}</a>
    {% endfor %}
    <div class="clearfix"></div>
  </div>
</div>

<footer>
  <a class="logo" href="/">Hash Stream</a>
  <a href="/upload" class="button" id="upload">Upload!</a>
</footer>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function () {
  $('.imgs').each(function (i, imgs) {
    setTimeout(function () {
      var first = $(imgs).children().first(),
          last = $(imgs).children().last(),
          prev = last,
          next = first;
      setInterval(function () {
        prev.hide();
        next.show();
        prev = next;
        next = next.next();
        if (next.length === 0) next = first;
      }, 6000);
    }, i * 2000);
  });
});
</script>
{% endblock %}
