{% extends "base.html" %}

{% block title %}#{{ tag }} / Hash Stream{% endblock %}

{% block header %}
  <script type="text/javascript">
      window.streamid = "{{ tag }}";
      window.url_root = "{{ url_root }}";
      window.SOCKETIO_SERVER = '{{ config.SOCKETIO_SERVER }}';
  </script>
  {% if embed %}
  <style type="text/css">
    body {min-width: auto; width: auto; }
  </style>
  {% endif %}
{% endblock %}


{% block body %}
<div id="container">
  {% if not embed %}
  <header class="stream">
    <h1>#{{ tag }}</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li id="embed-btn">Embed</li>
      <li id="fullscreen-btn">Fullscreen</li>
    </ul>
  </header>
  {% endif %}

  <div id="photos-wrapper">
  <div id="photos">
  {% for photo in photos %}
    <div class="photo" 
         data-id     = "{{ photo.id }}"
         data-width  = "{{ photo.width }}"
         data-height = "{{ photo.height }}">
       <div class="photo-wrapper">
         <img src="{{ photo.digest | photo_url }}" />
      </div>
    </div>
  {% endfor %}
  <div class="clearfix"></div>
  </div>
  </div>
</div>

<div id="embed" class="embed container">
  <div class="wrapper">
    <textarea rows="7">
&lt;iframe src=&quot;{{ url_root }}s/{{ tag }}?embed=true&quot;
        width=&quot;100%&quot;
        height=&quot;100%&quot;
        style=&quot;border:none;&quot;&gt;
&lt;/iframe&gt;
    </textarea>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="/static/js/socketio/socket.io.min.js"></script>
  <script src="/static/js/vendor/jquery.masonry.min.js"></script>
  <script src="/static/js/stream.js"></script>
{% endblock %}
