{% extends "base.html" %}
{% block header %}
<meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1">

<style type="text/css">
  body {
    min-width: 0;
    min-height: 300px;
  }

  div#container {
    background: hsl(0, 0%, 95%);
  }
</style>
{% endblock %}


{% block body %}
<div id="container" class="upload-page">
<header>
    <a href="/">Hash Stream</a>
</header>

<div id="upload-form">
  <form method="POST" enctype="multipart/form-data"
        action="{{ url_for('add_photo') }}">
    <input type="file" name="photo" id="file-input"/>
    <div class="suggestions" style="display:none;">Maybe <span>#</span>?</div>
    <label for="tag">Tag:</label>
    <input type="text" placeholder="Tag" name="tag" id="tag-input"/>
    <span class="note">At most 20 characters or digits. No spaces!</span>
    <input type="hidden" name="lat" id="input-lat" />
    <input type="hidden" name="lon" id="input-lon" />
    <input type="hidden" name="acc" id="input-acc" />
    <input type="submit" class="btn btn-primary" name="submit" value="Upload!" />
  </form> 
</div>

<footer class='upload-footer'>
  <a class="logo" href="/">Hash Stream</a>
</footer>

</div>

{% endblock %}

{% block scripts %}
<script>
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function (pos) {
      var lat = pos.coords.latitude, lon = pos.coords.longitude;
      if (lat) $('#input-lat').attr('value', pos.coords.latitude);
      if (lon) $('#input-lon').attr('value', pos.coords.longitude);
      if (pos.coords.accuracy) $('#input-acc').attr('value', pos.coords.accuracy);
      if (lat && lon) {
        $.getJSON('/closest/' + lat + '/' + lon + '/', {}, function (data) {
          if (data.tag) {
            $('.suggestions > span').append(data.tag).click(function () {
              $('#tag-input').val(data.tag);
            });
            $('.suggestions').fadeIn(300);
          }
          if (window.console) window.console.log(data);
        });
      }
    });
  }

  $(function () {
    var VALID_TAG = /^[a-zA-Z0-9_]+$/;

    var $fileinput = $('#file-input');

    var $taginput = $('#tag-input').keypress(function () {
      var tag = $taginput.val();
      if (tag === '' || VALID_TAG.test(tag)) {
        $taginput.removeClass('error');
      } else {
        $taginput.addClass('error');
      }
    });

    $('#upload-form form').submit(function (e) {
      var tag = $taginput.val(),
          valid = true;
      if (!VALID_TAG.test(tag) && tag.length > 20) {
        $taginput.addClass('error').focus();
        valid = false;
      }
      if($fileinput.val() === '') {
        valid = false;
      }
      return valid;
    });
  });
</script>
{% endblock %}
