@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
/* normalize.css v1.0.1 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

h2 {
  font-size: 1.5em;
  margin: .83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: .83em;
  margin: 1.67em 0; }

h6 {
  font-size: .75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu, ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4;
  min-width: 600px; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

div#container {
  min-height: 100%;
  background: #E6E6E6;
  position: relative; }

html.lt-ie7 div#container {
  height: 100%; }

div.content {
  padding-bottom: 100px; }

h1, h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

header {
  background: #266ca6;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(38, 108, 166, 0.98)), color-stop(100%, rgba(23, 68, 105, 0.98))), url("../img/noise.png");
  background-image: -webkit-linear-gradient(bottom, rgba(38, 108, 166, 0.98), rgba(23, 68, 105, 0.98)), url("../img/noise.png");
  background-image: -o-linear-gradient(bottom, rgba(38, 108, 166, 0.98), rgba(23, 68, 105, 0.98)), url("../img/noise.png");
  background-image: -moz-linear-gradient(bottom, rgba(38, 108, 166, 0.98), rgba(23, 68, 105, 0.98)), url("../img/noise.png");
  background-image: linear, compact(bottom, rgba(38, 108, 166, 0.98), rgba(23, 68, 105, 0.98), false, false, false, false, false, false, false, false), url("../img/noise.png");
  padding: 20px;
  border-bottom: 1px solid #333;
  height: 300px;
  position: relative; }
  header div.container {
    width: 600px;
    position: relative;
    margin: 0 auto; }
  header h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    margin: 10px 0 0 0; }
  header h2 {
    font-size: 1.2em;
    color: #e7e8ff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 0; }
  header div.featured {
    width: 570px;
    margin: 15px auto 0 auto;
    position: relative; }
    header div.featured div.photo {
      background: #266CA6;
      border-radius: 80px;
      width: 160px;
      height: 160px;
      margin: 15px;
      -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      float: left; }
    header div.featured div.photo:hover div.imgs {
      display: none; }
    header div.featured div.photo:hover a {
      display: block; }
    header div.featured a {
      position: absolute;
      width: 160px;
      line-height: 160px;
      font-size: 16px;
      color: white;
      font-weight: bold;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      text-align: center;
      display: none;
      text-decoration: none; }

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: white; }

div#android-info {
  position: relative;
  border-bottom: 1px solid #333;
  border-top: 1px solid white;
  background: #D9D9D9;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #174469;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5); }
  div#android-info div.container {
    width: 600px;
    position: relative;
    margin: 0 auto; }
  div#android-info a, div#android-info a:active, div#android-info a:visited, div#android-info a:hover {
    display: block;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    width: 300px;
    height: 120px;
    text-transform: lowercase;
    line-height: 1em;
    color: #174469;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5); }
  div#android-info span {
    display: block;
    position: absolute;
    top: 45px;
    left: 300px;
    font-size: 1.2em; }
  div#android-info a:visited {
    text-align: center;
    color: #174469;
    text-decoration: none; }
  div#android-info a#download-android {
    background-image: url("../img/googleplay.png");
    background-position: 50% 30px;
    background-repeat: no-repeat;
    text-indent: -9999em; }
  div#android-info a#upload-photo {
    position: absolute;
    padding-top: 35px;
    font-weight: bold;
    left: 300px;
    width: 300px;
    height: 120px;
    top: 0; }

footer {
  height: 100px;
  width: 100%;
  background: #266ca6;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #A0A0A0;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(100%, rgba(38, 108, 166, 0.98)), color-stop(0%, rgba(23, 68, 105, 0.98))), url("../img/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(38, 108, 166, 0.98), rgba(23, 68, 105, 0.98)), url("../img/noise.png");
  background-image: -o-linear-gradient(top, rgba(38, 108, 166, 0.98), rgba(23, 68, 105, 0.98)), url("../img/noise.png");
  background-image: -moz-linear-gradient(top, rgba(38, 108, 166, 0.98), rgba(23, 68, 105, 0.98)), url("../img/noise.png");
  background-image: linear, compact(top, rgba(38, 108, 166, 0.98), rgba(23, 68, 105, 0.98), false, false, false, false, false, false, false, false), url("../img/noise.png"); }
  footer a.button {
    border: 1px solid #076fe4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: compact(inset 0 1px 0 0 #8ebcf1, false, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 1px 0 0 #8ebcf1, false, false, false, false, false, false, false, false);
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    background-color: #4294f0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #0065d6;
    -webkit-background-clip: padding-box;
    font-size: 1.2em;
    text-shadow: 1px 1px black; }
    footer a.button:hover:not(:disabled) {
      -webkit-box-shadow: compact(inset 0 1px 0 0 #60a2ec, false, false, false, false, false, false, false, false);
      box-shadow: compact(inset 0 1px 0 0 #60a2ec, false, false, false, false, false, false, false, false);
      cursor: pointer;
      background-color: #2f87ea;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false)));
      background-image: -webkit-linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false));
      background-image: -moz-linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false));
      background-image: -ms-linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false));
      background-image: -o-linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false));
      background-image: linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false)); }
    footer a.button:active:not(:disabled) {
      border: 1px solid #076fe4;
      -webkit-box-shadow: compact(inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee, false, false, false, false, false, false);
      box-shadow: compact(inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee, false, false, false, false, false, false); }
    footer a.button:disabled {
      opacity: 0.5;
      cursor: not-allowed; }
  footer a#upload {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 30px;
    right: 20px; }

a.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  text-indent: -9999em;
  width: 64px;
  height: 64px;
  display: block;
  background: url(../img/logo.png); }

div#featured {
  border-top: 1px solid white;
  padding: 20px 0;
  max-width: 900px;
  margin: 0 auto; }
  div#featured a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin: 0 0.5em;
    padding: 0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    float: left; }
  div#featured a.size-xxl {
    line-height: 80px;
    font-size: 70px; }
  div#featured a.size-xl {
    line-height: 40px;
    font-size: 34px; }
  div#featured a.size-l {
    line-height: 20px;
    font-size: 16px; }
  div#featured a.size-m {
    line-height: 10px;
    font-size: 10px; }

div#featured a,
div#featured a:hover,
div#featured a:active,
div#featured a:visited {
  text-decoration: none;
  color: black; }

div#featured a:hover {
  color: #646464; }

header.stream {
  height: 50px; }
  header.stream h1 {
    text-align: left;
    margin: 0; }
  header.stream ul {
    list-style: none;
    position: absolute;
    top: 16px;
    right: 50px;
    color: #E2E2E2; }
  header.stream li {
    cursor: pointer;
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 0 1em;
    font-variant: small-caps;
    text-transform: lowercase;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5); }
  header.stream li:hover {
    color: white; }
  header.stream li#fullscreen-btn {
    background: #266CA6;
    padding: 0 8px 4px 8px;
    border-radius: 8px;
    color: white; }
  header.stream li#fullscreen-btn:hover {
    background: #2C7FC3; }
  header.stream a {
    color: #E2E2E2;
    text-decoration: none; }
  header.stream a:hover {
    color: white;
    text-decoration: none; }
  header.stream a:visited {
    text-decoration: none; }

div#photos-wrapper {
  overflow: hidden; }

div#photos {
  position: relative; }
  div#photos div.photo {
    margin: 0 !important;
    float: left;
    width: 24%; }
  div#photos div.photo-wrapper {
    padding: 5px; }
  div#photos img {
    /* -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3); */
    margin: 0;
    width: 100%; }

div#embed {
  display: none; }
  div#embed textarea {
    width: 100%;
    font-size: 0.9em;
    font-family: monospace; }
  div#embed div.wrapper {
    width: 600px;
    margin: 0 auto;
    padding: 50px 10px 0 10px; }

div.embed.container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  top: 0;
  left: 0;
  background: rgba(230, 230, 230, 0.9); }

div.upload-page header {
  height: 30px; }
  div.upload-page header a {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    text-align: center; }

div.upload-page footer {
  height: 40px; }
  div.upload-page footer a.logo {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    -webkit-background-size: 32px 32px;
    background-repeat: no-repeat;
    top: 4px;
    left: 5px; }

div#upload-form {
  padding: 20px;
  padding-bottom: -40px;
  padding-right: 10px;
  max-width: 600px;
  margin: 0 auto; }
  div#upload-form label {
    margin-left: -8px;
    font-size: 1.5em;
    margin-top: 15px;
    display: block; }
  div#upload-form div.suggestions {
    margin: 20px 0 15px -8px;
    font-size: 1.3em; }
    div#upload-form div.suggestions span {
      background: #266CA6;
      padding: 4px 8px 4px 8px;
      border-radius: 8px;
      color: white;
      cursor: pointer; }

html.placeholder div#upload-form label {
  display: none; }

/* Borrowed some styles from Bootstrap */
input[type="text"] {
  display: block;
  font-size: 1.5em;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s; }

input[type="text"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

input[type="text"].error {
  border-color: rgba(245, 34, 34, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 71, 57, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 71, 57, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 71, 57, 0.6); }

input[type="file"] {
  padding: 0; }

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear, compact(to bottom, #0088cc, #0044cc, false, false, false, false, false, false, false, false);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3; }

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9; }

.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25); }

input {
  border-radius: 4px;
  padding: 8px 8px;
  margin: 6px -8px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input:-moz-placeholder {
  color: #999999; }

div#upload-form span.note {
  display: block;
  margin-left: -8px;
  font-size: 0.8em;
  margin-top: -2px;
  margin-bottom: 10px;
  color: #777; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }
