@import "normalize.min";
@import "bourbon/bourbon";

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    min-width: 600px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

html, body {height: 100%; margin: 0; padding: 0;}

div#container {
  min-height: 100%;
  background: #E6E6E6;
  position: relative;
}

html.lt-ie7 div#container {
  height: 100%;
}

$footer-height: 100px;

div.content {
  padding-bottom: $footer-height;
}

h1, h2 {
  font-family: 'Open Sans', $helvetica;
}

header {
  background: rgb(38, 108, 166);
  background-image:
    -webkit-gradient(linear, 50% 100%, 50% 0%, 
    color-stop(0%, hsla(207, 63%, 40%, 0.98)),
    color-stop(100%, hsla(207, 64%, 25%, 0.98))),
    url("../img/noise.png");
  background-image: -webkit-linear-gradient(
      bottom,
      hsla(207, 63%, 40%, 0.98),
      hsla(207, 64%, 25%, 0.98)),
    url("../img/noise.png");
  background-image: -o-linear-gradient(
      bottom,
      hsla(207, 63%, 40%, 0.98),
      hsla(207, 64%, 25%, 0.98)),
    url("../img/noise.png");
  background-image: -moz-linear-gradient(
      bottom,
      hsla(207, 63%, 40%, 0.98),
      hsla(207, 64%, 25%, 0.98)),
    url("../img/noise.png");
  background-image: linear-gradient(
      bottom,
      hsla(207, 63%, 40%, 0.98),
      hsla(207, 64%, 25%, 0.98)),
    url("../img/noise.png");
  padding: 20px;
  border-bottom: 1px solid #333;
  height: 300px;
  position: relative;

  div.container {
    width: 600px;
    position: relative;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    margin: 10px 0 0 0;
  }

  h2 {
    font-size: 1.2em;
    color: rgb(231, 232, 255);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 0;
  }


  div.featured {
    width: 570px;
    margin: 15px auto 0 auto;
    position: relative;

    div.photo {
      background: #266CA6;
      border-radius: 80px;
      width: 160px;
      height: 160px;
      margin: 15px;
      -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      float: left;
    }

    div.photo:hover div.imgs {
      display: none;
    }

    div.photo:hover a {
      display: block;
    }

    a {
      position: absolute;
      width: 160px;
      line-height: 160px;
      font-size: 16px;
      color: white;
      font-weight: bold;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      text-align: center;
      display: none;
      text-decoration: none;
    }

  }
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: white;
}

div#android-info {

  position: relative;
  border-bottom: 1px solid #333;
  border-top: 1px solid white;
  background: #D9D9D9;
  font-family: 'Open Sans', $helvetica;
  color: rgb(23, 68, 105);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);

  div.container {
    width: 600px;
    position: relative;
    margin: 0 auto;
  }

  a, a:active, a:visited, a:hover {
    display: block;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    width: 300px;
    height: 120px;
    text-transform: lowercase;
    line-height: 1em;
    color: rgb(23, 68, 105);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
  }

  span {
    display: block;
    position: absolute;
    top: 45px;
    left: 300px;
    font-size: 1.2em;
  }

  a:visited {
    text-align: center;
    color: rgb(23, 68, 105);
    text-decoration: none;
  }

  a#download-android {
    background-image: url('../img/googleplay.png');
    background-position: 50% 30px;
    background-repeat: no-repeat;
    text-indent: -9999em;
  }

  a#upload-photo {
    position: absolute;
    padding-top: 35px;
    font-weight: bold;
    left: 300px;
    width: 300px;
    height: 120px;
    top: 0;
  }
}

footer {
  height: $footer-height;
  width: 100%;
  background: rgb(38, 108, 166);
  position: absolute;
  bottom: 0;
  border-top: 1px solid #A0A0A0;

  background-image:
    -webkit-gradient(linear, 50% 100%, 50% 0%, 
    color-stop(100%, hsla(207, 63%, 40%, 0.98)),
    color-stop(0%, hsla(207, 64%, 25%, 0.98))),
    url("../img/noise.png");
  background-image: -webkit-linear-gradient(
      top,
      hsla(207, 63%, 40%, 0.98),
      hsla(207, 64%, 25%, 0.98)),
    url("../img/noise.png");
  background-image: -o-linear-gradient(
      top,
      hsla(207, 63%, 40%, 0.98),
      hsla(207, 64%, 25%, 0.98)),
    url("../img/noise.png");
  background-image: -moz-linear-gradient(
      top,
      hsla(207, 63%, 40%, 0.98),
      hsla(207, 64%, 25%, 0.98)),
    url("../img/noise.png");
  background-image: linear-gradient(
      top,
      hsla(207, 63%, 40%, 0.98),
      hsla(207, 64%, 25%, 0.98)),
    url("../img/noise.png");

  a.button {
    @include button;
    font-size: 1.2em;
    text-shadow: 1px 1px black;
  }

  a#upload {
    font-family: 'Open Sans', $helvetica;
    position: absolute;
    top: 30px;
    right: 20px;
  }

}
a.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  text-indent: -9999em;
  width: 64px;
  height: 64px;
  display: block;
  background: url(../img/logo.png);
}

div#featured {
  border-top: 1px solid white;
  padding: 20px 0;
  max-width: 900px;
  margin: 0 auto;

  a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
    margin: 0 0.5em;
    padding: 0;
    text-shadow: 1px 1px hsla(0, 0%, 0%, 0.3);
    position: relative;
    float: left;
  }

  a.size-xxl {
    line-height: 80px;
    font-size: 70px;
  }

  a.size-xl {
    line-height: 40px;
    font-size: 34px;
  }

  a.size-l {
    line-height: 20px;
    font-size: 16px;
  }

  a.size-m {
    line-height: 10px;
    font-size: 10px;
  }

}

div#featured a,
div#featured a:hover,
div#featured a:active,
div#featured a:visited  {
  text-decoration: none;
  color: black;
}

div#featured a:hover {
  color: #646464;
}

header.stream {
  height: 50px;

  h1 {
    text-align: left;
    margin: 0;
  }

  ul {
    list-style: none;
    position: absolute;
    top: 16px;
    right: 50px;
    color: #E2E2E2;
  }

  li {
    cursor: pointer;
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 0 1em;
    font-variant: small-caps;
    text-transform: lowercase;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  }

  li:hover {
    color: white;
  }

  li#fullscreen-btn {
    background: #266CA6;
    padding: 0 8px 4px 8px;
    border-radius: 8px;
    color: white;
  }

  li#fullscreen-btn:hover {
    background: #2C7FC3;
  }

  a {
    color: #E2E2E2;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }
}

div#photos-wrapper {
  overflow: hidden;
}

div#photos {
  position: relative;

  div.photo {
    margin: 0 !important;
    float: left;
    width: 24%;
  }

  div.photo-wrapper {
    padding: 5px;
  }

  img {
    /* -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3); */
    margin: 0;
    width: 100%;
  }
}

div#embed {
  display: none;

  textarea {
    width: 100%; 
    font-size: 0.9em;
    font-family: monospace;
  }

  div.wrapper {
    width: 600px;
    margin: 0 auto;
    padding: 50px 10px 0 10px;
  }
}

div.embed.container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  top: 0;
  left: 0;
  background: rgba(230, 230, 230, 0.9)
}

@import "upload";

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

