div.upload-page header {
  height: 30px;

  a {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Open Sans', $helvetica;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    text-align: center;
  }
}

div.upload-page footer {
  height: 40px;

  a.logo {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    -webkit-background-size: 32px 32px;
    background-repeat: no-repeat;;
    top: 4px;
    left: 5px;
  }
}

div#upload-form {
  padding: 20px;
  padding-bottom: -40px;
  padding-right: 10px;
  max-width: 600px;
  margin: 0 auto;

  label {
    margin-left: -8px;
    font-size: 1.5em;
    margin-top: 15px;
    display: block;
  }

  div.suggestions {
    margin: 20px 0 15px -8px;
    font-size: 1.3em;

    span {
      background: #266CA6;
      padding: 4px 8px 4px 8px;
      border-radius: 8px;
      color: white;
      cursor: pointer;
    }
  }
}
html.placeholder div#upload-form label {
  display: none;
}

/* Borrowed some styles from Bootstrap */

input[type="text"] {
  display: block;
  font-size: 1.5em;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="text"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="text"].error {
  border-color: rgba(245, 34, 34, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 71, 57, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 71, 57, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 71, 57, 0.6);
}


input[type="file"] {
  padding: 0;
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);

}

input {
  border-radius: 4px;
  padding: 8px 8px;
  margin: 6px -8px;
  width: 100%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

input:-moz-placeholder {
  color: #999999;
}

div#upload-form span.note {
  display: block;
  margin-left: -8px;
  font-size: 0.8em;
  margin-top: -2px;
  margin-bottom: 10px;
  color: #777;
}

